<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack Fast</title>
    <meta name="description" content="Win as much as possible with an initial pot of $100!" />
    <meta property="og:title" content="The BlackJack Fast Game" />
    <meta property="og:url" content="http://www.blackjackfast.com/" />
    <meta property="og:description" content="Home Page for BlackJack Fast" />
    <meta property="og:image" content="/images/logo.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="floating-labels.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">
            <img src="/images/logo.png" alt="Card logo" width="46px">
            High Scores
            <img src="/images/logo.png" alt="Card logo" width="46px">
        </h1>
        <div class="list-group mx-auto" style="max-width: 400px;">
            <a href="#" class="list-group-item d-flex align-items-center">
                <div class="col-3">
                    <span class="rank">🥇 1st</span>
                </div>
                <div class="col-6 text-center">
                    <span class="name"><%= scoreList[0].name %></span>
                </div>
                <div class="col-3 text-end">
                    <span class="badge bg-primary">$ <%= scoreList[0].high_score %></span>
                </div>
            </a>
            <a href="#" class="list-group-item d-flex align-items-center">
                <div class="col-3">
                    <span class="rank">🥈 2nd</span>
                </div>
                <div class="col-6 text-center">
                    <span class="name"><%= scoreList[1].name %></span>
                </div>
                <div class="col-3 text-end">
                    <span class="badge bg-primary">$ <%= scoreList[1].high_score %></span>
                </div>
            </a>
            <a href="#" class="list-group-item d-flex align-items-center">
                <div class="col-3">
                    <span class="rank">🥉 3rd</span>
                </div>
                <div class="col-6 text-center">
                    <span class="name"><%= scoreList[2].name %></span>
                </div>
                <div class="col-3 text-end">
                    <span class="badge bg-primary">$ <%= scoreList[2].high_score %></span>
                </div>
            </a>
            <a href="#" class="list-group-item d-flex align-items-center">
                <div class="col-3">
                    <span class="rank">🎖️ 4th</span>
                </div>
                <div class="col-6 text-center">
                    <span class="name"><%= scoreList[3].name %></span>
                </div>
                <div class="col-3 text-end">
                    <span class="badge bg-primary">$ <%= scoreList[3].high_score %></span>
                </div>
            </a>
            <a href="#" class="list-group-item d-flex align-items-center">
                <div class="col-3">
                    <span class="rank">🎖️ 5th</span>
                </div>
                <div class="col-6 text-center">
                    <span class="name"> <%= scoreList[4].name %> </span>
                </div>
                <div class="col-3 text-end">
                    <span class="badge bg-primary">$ <%= scoreList[4].high_score %></span>
                </div>
            </a>
            <a href="#" class="list-group-item d-flex align-items-center">
                <div class="col-3">
                    <span class="rank">🎖️ 6th</span>
                </div>
                <div class="col-6 text-center">
                    <span class="name"><%= scoreList[5].name %></span>
                </div>
                <div class="col-3 text-end">
                    <span class="badge bg-primary">$ <%= scoreList[5].high_score %></span>
                </div>
            </a>
            <a href="#" class="list-group-item d-flex align-items-center">
                <div class="col-3">
                    <span class="rank">🎖️ 7th</span>
                </div>
                <div class="col-6 text-center">
                    <span class="name"><%= scoreList[6].name %></span>
                </div>
                <div class="col-3 text-end">
                    <span class="badge bg-primary">$ <%= scoreList[6].high_score %></span>
                </div>
            </a>
            <a href="#" class="list-group-item d-flex align-items-center">
                <div class="col-3">
                    <span class="rank">🎖️ 8th</span>
                </div>
                <div class="col-6 text-center">
                    <span class="name"><%= scoreList[7].name %></span>
                </div>
                <div class="col-3 text-end">
                    <span class="badge bg-primary">$ <%= scoreList[7].high_score %></span>
                </div>
            </a>
            <a href="#" class="list-group-item d-flex align-items-center">
                <div class="col-3">
                    <span class="rank">🎖️ 9th</span>
                </div>
                <div class="col-6 text-center">
                    <span class="name"><%= scoreList[8].name %></span>
                </div>
                <div class="col-3 text-end">
                    <span class="badge bg-primary">$ <%= scoreList[8].high_score %></span>
                </div>
            </a>
            <a href="#" class="list-group-item d-flex align-items-center">
                <div class="col-3">
                    <span class="rank">🎖️ 10th</span>
                </div>
                <div class="col-6 text-center">
                    <span class="name"><%= scoreList[9].name %></span>
                </div>
                <div class="col-3 text-end">
                    <span class="badge bg-primary">$ <%= scoreList[9].high_score %></span>
                </div>
            </a>
        </div>
        <br>
        <div>
            <form method="get" action="/" class="text-center mb-2">
                <button type="submit" style="width: 120px" class="btn btn-warning btn-md">Home Page</button>
            </form>
        </div>
        <!-- <div>
            <form method="get" action="/highscore-retro" class="text-center">
                <button type="submit" style="width: 120px" class="btn btn-secondary btn-md">Retro View</button>
            </form>
        </div> -->
    </div>
</body>

<%- include("partials/footer") %>